@media (min-width: 1700px) {
    .img-cart-container {
        justify-content: center;
    }
}



@media (max-width: 992px) {
    .hidden-container {
        width: 100%; /* Change to 100% to take full width */
    }

    .img-cart-container {
        width: 100%; /* Change to 100% to take full width */
        justify-content: center; /* Center content */
        margin: 3% 0; /* Adjust margin */
    }

    .navbar ul {
        flex-direction: column; /* Change to column for stacking in smaller screens */
        align-items: center;
    }

}

@media (min-width: 992px) {
    .img-cart-container {
        width: 15%;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .hidden-container {
        width: 50%;
    }

}

@media (max-width: 500px) {
    #cart-cont {
        width: auto; /* Change to auto to allow content to take its natural width */
        overflow: visible; /* Adjust overflow property */
    }

    .navbar {
        justify-content: flex-start;
        align-items: baseline;
    }

    .hidden-container {
        width: 100%;
    }

    .navbar-brand {
        margin-left: 0; /* Remove margin */
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navbar {
        justify-content: center;
    }

}


@media (max-width: 230px) {
    .navbar-brand {
        display: none;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-toggler {
        width: 100%;
    }

}
