<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="/css/home.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>FitWiz</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="" class="nav-logo-text"><span >FitWizz</span></a>
        <ul class="nav-list-pages">
            <li class="nav-list-page tracker"><a href="">TRACKER</a></li>
            <li class="nav-list-page schedule"><a href="">SCHEDULE</a></li>
            <li class="nav-list-page store"><a href="">STORE</a></li>
        </ul>

        <ul class="nav-list-socials">
            <li class="nav-list-social instagram"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="nav-list-social facebook"><a href=""><i class="fab fa-youtube"></i></a></li>
            <li class="nav-list-social youtube"><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li class="nav-list-cart">
                <a href="">
                    <span class="cart">
                        <i class="fas fa-shopping-cart"></i>
                        <small class="cart-counter">0</small>
                    </span>
                 </a>
            </li>
        </ul>
        
    </nav>

<section class="top-page-sec">

    <div class="background-pic-container">
        <span class="main-pic-quote">Unleash Your Potential</span>
            <ul class="log-reg-btns">
                <li class="login-btn-li">
                        <a href="/loginAndRegister" class="login-btn">LOGIN</a>
                </li>
                <li class="register-btn-li">
                        <a href="/loginAndRegister" class="register-btn">REGISTER</a>
                </li>
            </ul>
    </div>

</section>
</body>
</html>