<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:replace="~{/fragments/common-links}">
    <link rel="stylesheet" href="/css/home.css">
    <title>FitWiz</title>
</head>
<body>

<th:block th:replace="~{fragments/nav :: nav}"> </th:block>

<section class="top-page-sec">

    <div class="background-pic-container">
        <span class="main-pic-quote" sec:authorize="isAnonymous()">Unleash Your Potential</span>
        <span class="main-pic-quote" sec:authorize="isAuthenticated()">Welcome back <th:block ></th:block></span>
            <ul class="log-reg-btns">
                <li class="login-btn-li" sec:authorize="isAnonymous()">
                        <a th:href="@{/api/users/login}" class="login-btn">LOGIN</a>
                </li>
                <li class="register-btn-li" sec:authorize="isAnonymous()">
                        <a th:href="@{/api/users/registration}" class="register-btn">REGISTER</a>
                </li>
                <li class="register-btn-li" sec:authorize="isAuthenticated()">
                    <form th:action="@{/api/users/logout}" th:method="POST">
                        <button type="submit" class="logout-btn" value="Logout">LOGOUT</button>
                    </form>
                </li>
            </ul>

    </div>

    <th:block th:replace="~{fragments/script :: script}"> </th:block>
</section>
</body>
</html>