<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:replace="~{/fragments/common-links}">
    <link rel="stylesheet" href="/css/home.css">
    <title>FitWiz</title>
</head>
<body>

<header>
    <th:block th:replace="~{fragments/nav :: nav}"></th:block>
</header>

<main>

    <section class="top-page-sec overflow-hidden">

        <div id="carouselBasicExample" class="carousel slide carousel-fade z-0 border-3 border-bottom border-white"
             data-bs-ride="carousel">
            <!-- login, register, and logout btns -->
            <div class="background-pic-container position-absolute w-100  justify-content-end z-3">
                <ul class="log-reg-btns">
                    <li class="login-btn-li" sec:authorize="isAnonymous()">
                        <a th:href="@{/api/users/login}" class="login-btn bg-dark overflow-hidden">LOGIN</a>
                    </li>
                    <li class="register-btn-li" sec:authorize="isAnonymous()">
                        <a th:href="@{/api/users/registration}" class="register-btn bg-dark overflow-hidden">REGISTER</a>
                    </li>
                    <li class="register-btn-li" sec:authorize="isAuthenticated()">
                        <form th:action="@{/api/users/logout}" th:method="POST">
                            <button type="submit" class="logout-btn bg-dark overflow-hidden" value="Logout">LOGOUT</button>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- login, register, and logout btns -->

            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>

            <!-- Inner -->
            <div class="carousel-inner">
                <!-- Thymeleaf loop for each banner -->
                <div th:each="banner, iterStat : ${bannersList}" th:classappend="${iterStat.first} ? 'carousel-item active' : 'carousel-item'">
                    <img th:src="${banner.imagePath}" class="d-block w-100" th:alt="${banner.title}"/>
                    <div class="carousel-caption d-none d-md-block">
                        <h5 th:text="${banner.title}">Banner Title</h5>
                        <p th:text="${banner.text}">Banner Text</p>
                    </div>
                </div>
                <!-- Thymeleaf loop for each banner -->
            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel wrapper -->
    </section>

    <section id="about-us">
        <div class="container-fluid bg-dark">
            <div class="row py-lg-5">

                <h2 class="text-capitalize text-center m-0 py-lg-5">Why to choose us</h2>

                <div class="text-center col-lg-4">
                    <img src="/images/search.png" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                         width="140"
                         height="140" loading="lazy">
                    <h4 class="fw-normal mt-5 ">Easy to find</h4>
                    <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium
                        amet
                        facilisis.</p>
                </div>

                <div class="text-center col-lg-4">
                    <img src="/images/price.png" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                         width="140"
                         height="140" loading="lazy">
                    <h4 class="fw-normal mt-5">Affordable Prices</h4>
                    <p>Urna, massa aliqua dui pellentesque. Ac, gravida in. Diam vitae, nec mattis lectus quam pretium
                        amet
                        facilisis.</p>
                </div>

                <div class="text-center col-lg-4">
                    <img src="/images/time.png" class="bd-placeholder-img rounded-circle" alt="Bootstrap Themes"
                         width="140"
                         height="140" loading="lazy">
                    <h4 class="fw-normal mt-5 ">Quickly Process</h4>
                    <p>Ac, gravida in diam vitae, nec mattis lectus quam pretium amet facilisis. Urna, massa aliqua dui
                        pellentesque. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3 fs-1">Carousel cards title</h3>
                </div>
                <div class="col-6 text-right d-flex justify-content-end gap-5">
                    <a class="bg-transient btn-dark mb-3 mr-1 fs-2" href="#carouselExampleIndicators2" role="button"
                       data-bs-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="bg-transient btn-dark mb-3 mr-1 fs-2" href="#carouselExampleIndicators2" role="button"
                       data-bs-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1532777946373-b6783242f211?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=8ac55cf3a68785643998730839663129">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                 src="https://images.unsplash.com/photo-1532763303805-529d595877c5?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=5ee4fd5d19b40f93eadb21871757eda6">
                                            <div class="card-body">
                                                <h4 class="card-title">Special title treatment</h4>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="start" class="bg-dark">
        <div class="container my-5 py-5">
            <div class="row featurette py-lg-5 ">
                <div class="col-md-5 order-md-1 d-flex">
                    <h1 class="text-capitalize  lh-1 mb-3">Let’s simply begin with rentiz.</h1>
                </div>
                <div class="col-md-7 order-md-2">
                    <div class="text-content ps-md-5 mt-4 mt-md-0">
                        <p class="py-lg-2">Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue justo.
                            Nibh
                            laoreet volutpat quis velit. Blandit aliquam donec sed morbi congue eget lorem viverra porta
                            id
                            lobortis.</p>
                        <a href="/api/home" class="btn btn-primary btn-lg px-4 me-md-2">Get
                            Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<section id="footer">
    <div class="container footer-container ">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5  ">

            <div class=" col-md-4 fs-4">
                <h2 class="fs-1">FitWizz</h2>
                <p class="fs-5">Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue.</p>
                <i class="bi-facebook pe-4"></i>
                <i class="bi-instagram pe-4"></i>
                <i class="bi-twitter pe-4"></i>
                <i class="bi-youtube pe-4"></i>
            </div>

            <div class="col-md-2 ">
                <h4 class="text-primary">Project</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Houses</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Rooms</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Flats</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Appartments</a></li>
                </ul>
            </div>

            <div class="col-md-2 ">
                <h4 class="text-primary">Company</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">How we work ?</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Capital </a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Security </a></li>
                </ul>
            </div>

            <div class="col-md-2 ">
                <h4 class="text-primary">Movement</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Movement</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Support us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
                </ul>
            </div>

            <div class="col-md-2 ">
                <h4 class="text-primary">Help</h4>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Privacy </a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Condition</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Blog</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
                </ul>
            </div>
        </footer>
    </div>


    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top"></footer>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 text-secondary">
            <div class="col-md-8 d-flex align-items-center">
                <p>© 2023 FitWizz, Inc. All rights reserved.</p>

            </div>
            <div class="col-md-4 d-flex align-items-center">
                <p class="text-secondary">Created by: <a href="https://templatesjungle.com/" class="link-primary text-primary-emphasis"
                                        target="_blank">Kristiyan Stefanov</a></p>

            </div>

        </footer>
    </div>
</section>

<th:block th:replace="~{fragments/script}"></th:block>
<script src="/js/mainPageCarousel.js"></script>
<script src="/js/articlesCorsuel.js"></script>
</body>
</html>