<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="~{/fragments/common-links}">
    <link rel="stylesheet" th:href="@{/css/loginAndRegistration.css}">
    <title>FitWizz</title>
</head>
<body>

<header>
    <th:block th:replace="~{fragments/nav :: nav}"></th:block>
</header>

<main class="container h-75">
<form class='register-form' th:action="@{/api/users/registration}" th:method="POST">
    <div class="flex-row">
        <label class="lf--label" for="username">
            <i class="far fa-user"></i>
        </label>
        <input id="username"
               name="username"
               class='lf--input'
               placeholder='Username'
               type='text'>
    </div>
    <div class="flex-row">
      <label class="lf--label" for="email">
          <i class="far fa-envelope"></i>
      </label>
      <input id="email"
             name="email"
             class='lf--input'
             placeholder='Email'
             type='text'>
  </div>
    <div class="flex-row">
        <label class="lf--label" for="password">
            <i class="fas fa-key"></i>
        </label>
        <input id="password"
               name="password"
               class='lf--input'
               placeholder='Password'
               type='password'>
    </div>
    <div class="flex-row">
      <label class="lf--label" for="confirmPassword">
          <i class="fas fa-check"></i>
      </label>
      <input id="confirmPassword"
             name="confirmPassword"
             class='lf--input'
             placeholder='Confirm Password'
             type='password'>
  </div>
    <div class="flex-row">
        <label for="profilePicture" class="form-label">
        </label>
        <input id="profilePicture"
               name="profilePicture"
               class="form-control form-control-sm "
               type="file"
               accept=".jpg">
    </div>
  <input class='lf--submit' type='submit' value='REGISTER'>
</form>
<a class='lf--forgot' th:href="@{/api/users/login}">Already have account?</a>

</main>
<th:block th:replace="~{fragments/script :: script}"></th:block>
</body>
</html>