<!DOCTYPE html>
<html lang="en" class="bg-gray-light"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link th:replace="~{/fragments/common-links}">
    <link rel="stylesheet" th:href="@{/css/store.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>FitWizz</title>
</head>
<body class="container-fluid p-0 h-100 bg-gray">
<!-- Navigation-->
<th:block th:replace="~{fragments/nav :: nav}"></th:block>
<th:block th:replace="~{fragments/snow.html :: snowflakes}"></th:block>

<!-- Header-->
<header class="store-header bg-dark h-50 border-bottom border-white position-relative text-white">
    <div class="header-background h-100">
        <th:block th:replace="~{home.html :: log-reg-btns}"></th:block>
        <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center">
            <div class="header-content bg-dark bg-opacity-50 rounded p-4">
                <h1 class="display-4 fw-bolder">Holiday Shopping</h1>
                <p class="lead fw-normal mb-0 text-warning">Find the perfect gift for you!</p>
            </div>
        </div>
    </div>
</header>

<!-- Section-->
<section id="main-sec" class="py-5">
    <div class="container px-4 px-lg-5 mt-5 mb-3">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
            <!-- Thymeleaf iteration over products -->
            <div th:each="product : ${inStockProducts}" class="col mb-5">
                <div class="card h-100 border-3 border-white bg-secondary text-white">
                    <!-- Product image -->
                    <img class="card-img-top border-3 border-bottom border-white" th:src="${product.mainImgPath}" alt="Product Image" loading="lazy"/>
                    <!-- Product details -->
                    <div class="card-body p-2">
                        <div class="text-center">
                            <!-- Product name -->
                            <h5 class="fw-bolder" th:text="${product.name}">Product Name</h5>
                            <!-- Product price -->
                            <span class="w-100" th:text="${'$' + product.price}"></span>
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-1 pt-1 border-top-0 bg-transparent">
                        <div class="text-center d-flex justify-content-around">
                            <!-- Link to view product details -->
                            <a th:href="@{'/api/products/' + ${product.sku}}" class="btn btn-outline-light  p-2">View Details</a>
                            <a sec:authorize="isAnonymous()" th:href="@{/api/users/login}" class="btn btn-outline-light  p-2">Add to Cart</a>

                            <button sec:authorize="isAuthenticated()" th:id="${product.sku}" class="btn btn-outline-light add-to-cart-btn" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Thymeleaf iteration -->
        </div>
    </div>
</section>

<!-- Footer-->
<div class="container-fluid bg-dark mt-4 m-0 p-0 w-100 d-flex justify-content-center border-top border-white">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 text-secondary w-75">
        <div class="col-md-8 d-flex align-items-center">
            <p>© 2023 FitWizz, Inc. All rights reserved.</p>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <p class="text-secondary">Created by: <a th:href="@{https://github.com/Kris13081}" class="link-primary text-primary-emphasis" target="_blank">Kristiyan Stefanov</a></p>
        </div>
    </footer>
</div>
</body>
<script th:src="@{/js/AddToCart.js}"></script>
</html>
