<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{admin/index :: head}"></th:block>

<body class="hold-transition sidebar-mini layout-fixed" th:object="${userDetails}">
<div class="wrapper">

    <!-- Preloader -->
    <th:block th:replace="~{admin/index :: logo-placeholder}"></th:block>

    <th:block th:replace="~{admin/index :: admin-nav}"></th:block>

    <th:block th:replace="~{admin/index :: sidebar}"></th:block>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="productForm" class="form-horizontal d-flex flex-column bg-dark p-5 rounded-circle border border-width-5 border-primary" th:method="POST" th:action="@{/api/admins/add-product}" enctype="multipart/form-data">

                        <div class="form-group align-items-center justify-content-center w-100 d-flex flex-column text-center">
                            <label class="col-md-4 control-label w-100" for="name">PRODUCT NAME</label>
                            <div class="col-md-4 w-100">
                                <input id="name"
                                       name="name"
                                       placeholder="PRODUCT NAME"
                                       class="form-control input-md"
                                       type="text"
                                       required>
                            </div>
                        </div>

                        <div class="form-group align-items-center justify-content-center w-100 d-flex flex-column text-center">
                            <label class="col-md-4 control-label" for="description">PRODUCT DESCRIPTION</label>
                            <div class="col-md-4">
                                <textarea class="form-control"
                                          id="description"
                                          name="description"
                                          required>- Product description -</textarea>
                            </div>
                        </div>

                        <div class="form-group align-items-center justify-content-center w-100 d-flex flex-column text-center">
                            <label class="col-md-4 control-label" for="category">PRODUCT CATEGORY</label>
                            <div class="col-md-4">
                                <select id="category"
                                        name="category"
                                        class="form-control"
                                        required>
                                    <option>- Select category -</option>
                                    <option th:each="t : ${T(uni.graduate.fitwiz.enums.ProductTypeEnum).values()}"
                                            th:text="${t}"
                                            th:value="${t}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group align-items-center justify-content-center w-100 d-flex flex-column text-center">
                            <label class="col-md-4 control-label" for="price">PRICE</label>
                            <div class="col-md-4 w-100">
                                <input id="price"
                                       name="price"
                                       placeholder="PRICE"
                                       class="form-control input-md"
                                       type="text"
                                       required>
                            </div>
                        </div>

                        <div class="form-group align-items-center justify-content-center w-100 d-flex flex-column text-center">
                            <label class="col-md-4 control-label" for="quantity">QUANTITY</label>
                            <div class="col-md-4">
                                <input id="quantity"
                                       name="quantity"
                                       placeholder="AVAILABLE QUANTITY"
                                       class="form-control input-md"
                                       type="text"
                                       required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group align-items-center justify-content-center w-100 d-flex flex-column ">

                            <!-- File Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="main-img">main_image</label>
                                <div class="col-md-4">
                                    <input id="main-img" name="mainImage" class="input-file" type="file" accept=".png, .jpg, .jpeg" required>
                                </div>
                            </div>
                            <!-- File Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="second-img">second_images</label>
                                <div class="col-md-4">
                                    <input id="second-img" name="secondImage" class="input-file" type="file" accept=".png, .jpg, .jpeg" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="third-img">third_images</label>
                                <div class="col-md-4">
                                    <input id="third-img" name="thirdImage" class="input-file" type="file" accept=".png, .jpg, .jpeg" required>
                                </div>
                            </div>

                            <!-- Button -->
                            <button id="singlebutton" name="singlebutton" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="~{admin/index :: footer}"></th:block>
</div>

<th:block th:replace="~{admin/index :: scr}"></th:block>
<th:block th:replace="~{fragments/script}"></th:block>
<script th:inline="javascript" src="/js/ProductForm.js"></script>
</body>
</html>
