<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{admin/index :: head}"></th:block>

<body class="hold-transition sidebar-mini layout-fixed" th:object="${userDetails}">
<div class="wrapper">

    <!-- Preloader -->
    <th:block th:replace="~{admin/index :: logo-placeholder}"></th:block>

    <th:block th:replace="~{admin/index :: admin-nav}"></th:block>

    <th:block th:replace="~{admin/index :: sidebar}"></th:block>


    <div class="content-wrapper bg-dark opacity-25">
        <h1 class="w-100 bg-dark text-white  d-flex justify-content-center border-5 border-bottom border-white">ALL USERS</h1>
        <div class="container h-100 pt-5 ">
            <div class="row d-flex justify-content-center align-items-center h-100 ">

                <div class="container mt-2  overflow-auto p-0">
                    <table class="table table-bordered h-50 overflow-hidden bg-white">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Actions</th>
                            <!-- Add more columns based on your entity fields -->
                        </tr>
                        </thead>
                        <tbody class="overflow-hidden">
                        <!-- Use Thymeleaf to iterate over your entity records -->
                        <tr th:each="user : ${usersList}" th:id="${user.username}">
                            <td class="id" th:text="${user.id}"></td>
                            <td class="username" th:text="${user.username}"></td>
                            <td class="email" th:text="${user.email}"></td>

                            <!-- Add more cells based on your entity fields -->
                            <td class="actions d-flex flex-row justify-content-around">
                                <button type="button" class="user-edit-btn btn btn-primary btn-sm" th:id="'editBtn-' + ${user.username}">Edit</button>

                                <form th:method="POST" th:action="@{/api/admins/management/user/delete/{id}}" th:object="${user.id}">
                                    <input type="hidden" name="id" th:value="${user.id}" />
                                    <button type="submit" class="delete-btn btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <th:block th:replace="~{admin/index :: footer}"></th:block>
</div>

<th:block th:replace="~{admin/index :: scr}"></th:block>
<th:block th:replace="~{fragments/script}"></th:block>
<script th:inline="javascript" src="/js/BannerForm.js"></script>
<script src="/js/UserRecords.js"> </script>
</body>
</html>
