<!DOCTYPE html>
<html lang="en" class="bg-gray"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link th:replace="~{/fragments/common-links}">
    <title>FitWizz</title>
</head>
<body class="container-fluid p-0 h-100 bg-gray">
<!-- Navigation-->
<th:block th:replace="~{fragments/nav :: nav}"></th:block>
<th:block th:replace="~{fragments/snow.html :: snowflakes}"></th:block>

<section class="h-100 h-custom overflow-scroll" style="background-color: #eee;" >
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3"><a th:href="@{/api/store}" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                    </div>
                                    <div>
                                        <p class="mb-0" th:text="${#lists.size(userProducts)} + ' items in your cart'"></p>
                                    </div>
                                </div>

                                <!-- Iterate over userProducts and display product information -->
                                <div th:each="product : ${userProducts}" class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img th:src="${product.mainImgPath}" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5 th:text="${product.name}"></h5>
                                                    <!-- Add additional product information as needed -->
                                                    <p class="small mb-0" th:text="${'SKU: ' + product.sku}"></p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <!-- Add quantity and price information as needed -->
                                                <div style="width: 80px; margin-right: 15px;">
                                                    <h5 class="price mb-0" th:id="${product.price}" th:text="${'$' + product.price}"></h5>
                                                </div>
                                                <!-- Add a link to remove the product from the cart -->
                                                <a href="#" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-5">

                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Order details</h5>
                                            <img th:src="${userDetails.profileImage}"
                                                 class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                        </div>

                                        <form class="mt-4" th:method="POST" th:action="@{/api/users/cart/order}">

                                            <p class="small mb-2">Delivery company:</p>
                                            <label for="speedy-btn">Speedy</label>
                                            <input type="radio" class="text-white" value="Speedy" id="speedy-btn" name="deliveryCompany">
                                            <label for="econt-btn">Econt</label>
                                            <input type="radio" class="text-white" value="Econt" id="econt-btn" name="deliveryCompany">
                                            <label for="dhl-btn">DHL</label>
                                            <input type="radio" class="text-white" value="DHL" id="dhl-btn" name="deliveryCompany">

                                            <div class="form-outline form-white mt-4 mb-4">
                                                <input type="text"
                                                       id="typeName"
                                                       class="form-control form-control-lg"
                                                       placeholder="Firstname Lastname"
                                                       name="receiverName" />
                                                <label class="form-label" for="typeName">Receiver's Name</label>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text"
                                                       id="typeText"
                                                       class="form-control form-control-lg"
                                                       placeholder="089 999 9999"
                                                       minlength="10" maxlength="10"
                                                       name="phoneNumber" />
                                                <label class="form-label" for="typeText">Phone Number</label>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="text"
                                                               class="form-control form-control-lg"
                                                               placeholder="City Name"
                                                               id="city"
                                                               name="city"/>
                                                        <label class="form-label" for="city">City</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-outline form-white">
                                                        <input type="text"
                                                               id="street"
                                                               class="form-control form-control-lg"
                                                               placeholder="Street 111"
                                                               name="street"/>
                                                        <label class="form-label" for="street">Street + St-number</label>
                                                    </div>
                                                </div>
                                            </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Subtotal</p>
                                            <p class="mb-2" id="subtotal">$4798.00</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2">Shipping</p>
                                            <p class="mb-2">$10.00</p>
                                        </div>

                                        <div class="d-flex justify-content-between mb-4">
                                            <p class="mb-2">Total</p>
                                            <p class="mb-2" id="total">$4818.00</p>
                                        </div>

                                        <button type="submit" class="btn btn-info btn-block btn-lg">
                                                <span id="totalAmount">$4818.00</span>
                                                <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                        </button>

                                        </form>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<section id="footer">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 text-secondary">
            <div class="col-md-8 d-flex align-items-center">
                <p>© 2023 FitWizz, Inc. All rights reserved.</p>

            </div>
            <div class="col-md-4 d-flex align-items-center">
                <p class="text-secondary">Created by: <a th:href="@{https://github.com/Kris13081}" class="link-primary text-primary-emphasis"
                                                         target="_blank">Kristiyan Stefanov</a></p>

            </div>

        </footer>
    </div>
</section>

<th:block th:replace="~{fragments/script}"></th:block>
<script th:src="@{/js/TotalPrice.js}"></script>
</body>
</html>